:root {
	--head-h: 0;
	--content-h: 0;
	--footer-h: 0;
	
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://asherhausam.com/resources/fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2) format('woff2'),
    url(https://asherhausam.com/resources/fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf) format('truetype');
}

.material-icons .mco {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

a.mso span.mso {
	text-decoration: none;
}

body {
	background-color: #6fbf7e;
	
	display: flex;
	flex-direction: column;
	
	position: relative;
	min-height: 100vh;
	
	margin: 0px;
}

div {
	box-sizing: border-box;
	
}

.head {
    position: sticky;
    
    width: 100%;
    margin: 0% 0px 0%;
    
    max-height: 100px;
    padding: 10px;
    
    background-color: darkgray;
}

.content {
	flex-grow: 1;
	
	width: 90%;
	
	margin: 0% auto 0%;
	
	padding: 10px;
	
	background-color: gray;
}

.footer {	
	width: 90%;
	margin: 0% auto;
	
	background-color: lightgray;
	
	padding: 10px;
	    
    text-align: center;
}